main {
    min-height: 95vh;
    background-color: #EFF2F6;
}
h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}
h3 {
    padding: 1rem 0;
}
.rating span {
    margin: 0.1rem;
}
.footer-body {
	background: linear-gradient(-45deg, #873060, #a51372, #0a74b6, #0a4b74);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 75px;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
